
#header .nav-list ul li a {
    font-size: 15px !important;
}

.header {
	position: relative;
}
  
#header .header {
    background-color: #29323c;
}

/* cool white background */
#countries-game {
	background-color: white;
	border-radius: 25px;
	margin: 100px auto;
	width: 80%;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
	padding: 10px;
}

input[type="submit"] {
	border-radius: 25px;
	background-color: crimson;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
    margin: 10px auto;
    display:block;
}

input[type="submit"]:hover, input[type="submit"]:active {
	background-color: transparent;
	color: crimson;
}

#countryFlag {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 40vw;
	height: auto;
}
#centered_options {
	position: relative;
	text-align: center;
}

/* FOOTER */

.footer{
	padding-top: 4px !important;
	padding-bottom: 8px !important;
	margin-top: 360px !important;
}