body {
	height:100vh;
	margin:0;
	display:flex; 
	flex-direction:column; 
}
#header .nav-list ul li a {
    font-size: 15px !important;
}

.header {
	position: relative;
}
  
#header .header {
    background-color: #29323c;
}

/* cool white background */
#online_container {
	background-color: white;
	border-radius: 25px;
	margin: 100px auto;
	width: 80%;
	height: 750px;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
	padding: 10px;
	overflow: auto;
}

.profile_picture {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
#results h2 {
	width: 100%;
	margin: 0;
	display: flex;
	align-items: center;
}

#results {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

#results a {
	background: #fff;
	width: 300px;
	height: 100px;
	margin: 10px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
	box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
}


@media(max-width: 753px){
	#results{
	  max-width: 700px;
	}
	#results a{
	  width: calc(50% - 20px);
	  margin-bottom: 20px;
	}
  }
  @media(max-width: 505px){
	#results{
	  max-width: 500px;
	}
	#results a{
	  width: 100%;
	}
  }


/* Media Query For Phone */
@media only screen and (min-width: 200px) { /*768px*/
	#online_container {
		margin-top: 30%;
	}

}
/* E

/* Media Query For Tablet */
@media only screen and (min-width: 600px) { /*768px*/

	#online_container {
		margin-top: 20%;
	}
	
}
/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1600px) {
	#online_container {
		margin-top: 10%;
	}
	
}
/* End  Media Query For Desktop */
