
#header .nav-list ul li a {
    font-size: 15px !important;
}

.header {
	position: relative;
}
  
#header .header {
    background-color: #29323c;
}

/* cool white background */

table {
	margin-top: 50px;
}

#profile_container {
	background-color: white;
	border-radius: 25px;
	margin: 250px auto;
	width: 80%;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
	padding: 10px;
}

#profile_picture {
	width: 150px;
	height: 150px;	
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	color: cornflowerblue;
	box-shadow: 0 0 5px 3px darkred;	
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: -100px;
}

.have_container {
	display: flex;
	align-items: center; 
	background: linear-gradient(to left, #c31432, #240b36);
	color: white;
	margin: 10px;
	border-radius: 5px;
	box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
}

button, input[type=submit] {
	border-radius: 25px;
	background-color: crimson;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
    margin: 0 auto;
	display: block;
}

button:hover, button:active, input[type=submit]:hover, input[type=submit]:active {
	background-color: transparent;
	color: crimson;
}


#friends_list {
    padding: 1% 5%;
    overflow: auto;
    height: 250px;
	width: 95%;;
}

#friends_list a {
	width: 100%;
	height: 50px;
	margin: 0;
	display: flex;
	align-items: center; 
	background: linear-gradient(to left, #c31432, #240b36);
	color: white;
	margin: 10px;
	border-radius: 5px;
	box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
}


.pp_class {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}


/* progress cards */

.card {
	margin: 50px;
}

.wrapper{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
  }
  .wrapper .card{
	background: #fff;
	width: calc(20% - 20px);
	height: 300px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
	box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
  }
  .wrapper .card .circle{
	position: relative;
	height: 150px;
	width: 150px;
	border-radius: 50%;
	cursor: default;
  }
  .card .circle .box {
    position: absolute;
    top: 50%;
    left: 50%;
  }
  .card .circle .box span{
	position: relative;
    top: 35%;
    left: 30%;
  }
  .card .circle .box{
	height: 100%;
	width: 100%;
	background: #fff;
	border-radius: 50%;
	transform: translate(-50%, -50%) scale(0.8);
	transition: all 0.2s;
  }
  .card .circle:hover .box{
	transform: translate(-50%, -50%) scale(0.91);
  }
  .card .circle .box span,
  .wrapper .card .text{
	background: linear-gradient(to left, #c31432, #240b36);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  }
  .circle .box span{
	font-size: 38px;
	font-family: sans-serif;
	font-weight: 600;
	transform: translate(-45%, -45%);
	transition: all 0.1s;
  }
  .card .circle:hover .box span{
	transform: translate(-45%, -45%) scale(1.09);
  }
  .card .text{
	font-size: 20px;
	font-weight: 600;
  }
  @media(max-width: 753px){
	.wrapper{
	  max-width: 700px;
	}
	.wrapper .card{
	  width: calc(50% - 20px);
	  margin-bottom: 20px;
	}
  }
  @media(max-width: 505px){
	.wrapper{
	  max-width: 500px;
	}
	.wrapper .card{
	  width: 100%;
	}
  }
  

/* FOOTER */

.footer{
	padding-top: 4px !important;
	padding-bottom: 8px !important;
	margin-top: 360px !important;
}